customtkinter==5.2.2
pandas==2.2.3
openpyxl==3.1.5
rapidfuzz==3.10.1
pdfplumber==0.11.4
pyperclip==1.9.0
pyinstaller==6.11.1
pillow==10.4.0
pyarmor
arabic-reshaper==3.0.0
python-bidi==0.6.3
cryptography==43.0.3
